body{
    background-color: black;
    overflow: auto;
    color: white;
    text-align: center;
}

.back-txt{
    font-family: Georgia, serif;
    text-align: center;
    position: absolute;
    top: 13%;
    left: 732px;
    transform: translate(-50%, -50%);
    color: black;
  }

marquee{
    text-align: center;
}

#here{
    color: blue;
}
