.back-img{
    height: 100vh;  
    background-image: url("../images/two-aces.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    position: relative;
}

.back-txt{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }